/* --------------------------------------
Table Of Contents
01) Common Style
02)TOP HEADER
03)Logo
04)Navbar
05)Banner
06)Section 1
07)Section 2
08)Section 3
09)Section 4
10)Section 5
11)Section 6
12)Section 7
13)Section 8
14)Section 9
15)Section 10
16)Footer top
17)Footer Bottom
18)Section 11
19)Section 12
20)Section 13
21)Section 14
22)Section 15
23)Inner Title bar
24)Section 16
25)Section 17
26)Section 18
27)Section 19
28)Section 20
29)Section 21
30)Section 22

*/


/************************************
 01)Common CSS
*************************************/

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 600;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: 0 solid
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.btn {
    padding: 10px 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-primary {
    color: #fff;
    background-color: #8C489F;
    border-color: #8C489F;
}

.btn-primary:hover {
    color: #fff;
    background-color: #8C489F;
    border-color: #8C489F;
}

.btn-seconday {
    color: #8C489F;
    background-color: #fff;
    border-color: #fff;
}

.btn-seconday:hover {
    color: #8C489F;
    background-color: #efeded;
    border-color: #efeded;
}

.nopadding {
    padding-left: 0px;
    padding-right: 0px;
}

.read-more {
    color: #8C489F;
    font-size: 14px;
    font-weight: 600;
}

.read-more:hover {
    text-decoration: underline;
    color: #8C489F;
}

p {
    line-height: 26px;
}


.section-margine {
    margin: 70px 0 0 0;
}


/************************************
02)TOP HEADER
*************************************/

.top-header {
    border-bottom: 1px solid #eeeeee;
    position: relative;
    overflow: hidden;
    background-color: #f8f8f8;
}

.contact-detail2 {
    margin: 0px;
}

.contact-detail2 i {
    border-radius: 3px;
    padding: 3px 5px;
}

.contact-detail2 li {
    list-style: outside none none;
    float: left;
    padding: 10px;
    border-right: 1px solid #eeeeee;
}

.contact-detail2 li:first-child {
    padding-left: 0;
}

.contact-detail2 li a {
    color: #777;
    font-size: 13px;
    font-weight: 300;
}

.social-icons {
    list-style: outside none none;
    padding: 10px 0px;
    margin-bottom: 0px;
}

.social-icons li {
    margin-right: 10px;
    display: inline;
}

.social-icons a {
    color: #777;
    font-size: 14px;
    line-height: 15px;
    padding: 3px 5px;
    transition: color 0.3s ease-in-out 0s;
    vertical-align: middle;
}

.social-icons a:hover {
    color: #00AEFF
}


/************************************
03)Logo
*************************************/

.navbar-brand {
    float: left;
    height: auto;
    padding: 8px 0px;
    font-size: 18px;
    line-height: 20px;
}

.logo-text {
    text-transform: uppercase;
    font-size: 11px;
    vertical-align: bottom;
    line-height: 32px;
    letter-spacing: 1px;
    color: #777;
}

.logo-text span {
    font-size: 25px;
    text-transform: none;
    margin-right: 3px;
    letter-spacing: 0;
}

.logo-text samp {
    background: #8C489F;
    float: left;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-weight: normal;
    font-size: 30px;
}


/************************************
04)Navbar 1
*************************************/

.navbar {
    margin-bottom: 0px;
}

.header-shade {
    -webkit-box-shadow: 0px 0px 10px #333;
    -moz-box-shadow: 0px 0px 10px #333;
    box-shadow: 0px 0px 10px #333;
    z-index: 999;
}

.navbar-fixed-top {
    -webkit-box-shadow: 0px 0px 10px #333;
    -moz-box-shadow: 0px 0px 10px #333;
    box-shadow: 0px 0px 10px #333;
    z-index: 999;
    margin-top: 0px !important;
    /* padding: 20px 0px !important; */
    background: #fff !important;
    position: fixed !important;
}


.navbar-fixed-top .navbar-nav>li>a {
    /* color: #777 !important;
    font-weight: 600 !important;
    background: transparent !important;
    text-transform: uppercase !important; */
}

.navbar-1 .navbar-right .dropdown-menu {
    left: 0!important;
    border-radius: 0;
    border: 0;
    padding: 0;
    transition: all 0.4s ease 0s;
}

.dropdown-menu .divider {
    margin: 0px;
}

.dropdown-menu>li>a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #777;
    background: #fff;
    padding: 10px;
}

.dropdown-menu> li >a:hover {
    color: #fff !important;
    background-color: #8C489F;
}

.navbar-1 {
    background: #fff;
    border: none;
    border-radius: 0px;
    padding: 20px 0px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
}

.navbar-1 .navbar-nav>li>a {
    background: transparent !important;
}

.navbar-1 .navbar-nav>li>a:hover,
.navbar-1 .navbar-nav>li>a:active {
    background-color: transparent;
}

.navbar-1 .navbar-nav>.open>a,
.navbar-1 .navbar-nav>.open>a:focus,
.navbar-1 .navbar-nav>.open>a:hover {
    color: #8C489F;
    background-color: #fff;
    transition: all 0.4s ease 0s;
}

.navbar-1 .navbar-nav>li>.dropdown-menu {
    margin-top: 26px;
}

.dropdown .dropdown-menu .caret {
    border:4px solid transparent;
    border-bottom:6px solid transparent;
    border-left-color:#000;
    float:right;
    margin-top: 6px;
}
.dropdown-menu {
    min-width:250px
}
.dropdown-menu > li.open > a {
    background-color:#F5F5F5;
    color:#262626;
    text-decoration:none
}
.dropdown-menu .dropdown-menu {
    left:100%;
    margin:0;
    right:auto;
    top:-1px
}
.dropdown-menu-right .dropdown-menu, .navbar-right .dropdown-menu .dropdown-menu, .pull-right .dropdown-menu .dropdown-menu {
    left:auto;
    right:100%
}
.dropdown-menu.animated {
    -webkit-animation-duration:0.3s;
    animation-duration:0.3s
}
.dropdown-menu.animated:before {
    content:" ";
    display:block;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    z-index:99
}
.dropdownhover-top {
    margin-bottom:2px;
    margin-top:0
}
.navbar-fixed-bottom .dropdown-menu .dropdown-menu, .dropdownhover-top .dropdown-menu {
    bottom:-1px;
    top:auto
}
.navbar-nav > li > .dropdown-menu {
    margin-bottom:0
}
.dropdownhover-bottom {
    -webkit-transform-origin:50% 0;
    transform-origin:50% 0
}
.dropdownhover-left {
    -webkit-transform-origin:100% 50%;
    transform-origin:100% 50%
}
.dropdownhover-right {
    -webkit-transform-origin:0 50%;
    transform-origin:0 50%
}
.dropdownhover-top {
    -webkit-transform-origin:50% 100%;
    transform-origin:50% 100%
}


/************************************
05)Banner
*************************************/

.carousel {
    position: relative;
    width: 100%;
    min-height: 100%;
    text-align: center;
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-control.left {
    background: none;
    top: 45%;
}

.carousel-control.right {
    background: none;
    top: 45%;
}

.carousel-inner>.item>img {
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    min-height: 300px;
}

.carousel-control.left span,
.carousel-control.right span {
    background: #333 none repeat scroll 0 0;
    display: inline-block;
    width: 40px;
}


/************************************
06)Section 1
*************************************/

.section-1-box {
    padding: 0 50px;
    text-align: center;
    margin-top: 45px;
    background: #f5f5f5;
    transition: all 0.4s ease 0s;
}

.section-1-box-icon-background {
    background: #8C489F none repeat scroll 0 0;
    display: inline-block;
    height: 80px;
    margin: 25px auto;
    transition: all 0.4s ease 0s;
    width: 80px;
    padding: 10px;
}

.section-1-box-icon-background i {
    line-height: 80px;
    color:#ffffff;
}

.section-1-box h4 {
    text-transform: uppercase;
    color: #555555;
    font-size: 18px;
    margin: 0 0 10px 0;
}

.section-1-box p {
    color: #777;
    font-size: 14px;
    padding-bottom: 50px;
}
.section-1-box:hover
{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.07);
    -ms-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.07);
    -o-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.07);
   box-shadow: 0px 0px 20px 5px rgba(145, 139, 139, 0.27);
}

/************************************
07)Section 2
*************************************/

.section-2-box-left {
    border-right: 1px solid #8C489F;
}

.section-2-box-left h4 {
    font-size: 18px;
    color: #999;
    text-align: right !important;
    margin: 0 15px 15px 0;
}

.section-2-box-left h2 {
    font-size: 30px;
    color: #555;
    text-align: right !important;
    margin: 0 15px 30px 0;
}

.section-2-box-right p {
    color: #777;
}

.sec-title {
    margin-bottom: 43px;
    margin-top: -7px;
}

.sec-title .tagline {
    color: #7e7e7e;
    display: inline-block;
    font-family: "PT Serif", sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
}

.sec-title h2 {
    color: #282828;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 30px;
    margin: 0;
    text-transform: uppercase;
}

.sec-title .double-border {
    display: inline-block;
    margin-top: 13px;
}

.sec-title .double-border::before,
.sec-title .double-border::after {
    background: #b9b9b9 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
}

.sec-title .double-border::before {
    width: 136px;
}

.sec-title .double-border::after {
    margin-top: 5px;
    width: 72px;
}

.sec-title.text-center .double-border::before,
.sec-title.text-center .double-border::after {
    margin-left: auto;
    margin-right: auto;
}

.sec-title p {
    color: #898989;
    font-size: 14px;
    line-height: 26px;
    margin-top: 35px;
}


/************************************
08)Section 3
*************************************/

.section3-background {
    background: #333333 url(../images/p1.png)no-repeat center;
    background-size: cover;
}

.over-bg {
    background-color: rgba(140, 72, 159, 0.9);
}

.section-3-box {
    padding: 70px 0;
    text-align: center;
}

.section-3-box figure {
    color: #fff;
    margin: 10px 0;
}

.section-3-box h3 {
    font-size: 30px;
    color: #fff;
}

.section-3-box h4 {
    font-size: 15px;
    color: #fff;
    margin-bottom: 0px;
}


/************************************
09)Section 4
*************************************/

.section-4-box {
    padding: 20px 0px;
    overflow: hidden;
}

.section-4-box-icon-cont {
    float: left;
    width: 30px;
    margin: 0 23px 53px 0;
}

.section-4-box-icon-cont i {
    color: #8C489F;
}

.section-4-box-text-cont {
    margin: 0 0 0 15px;
}

.section-4-box-text-cont h5 {
    text-transform: uppercase;
    color: #555555;
    font-size: 16px;
    margin: 0 0 10px 0;
}

.section-4-box-text-cont p {
    color: #777;
    font-size: 14px;
}


/************************************
10)Section 5
*************************************/

.section-5-background {
    background: url(../images/section-5-background.jpg) no-repeat fixed;
    background-color: #252525;
    background-position: center;
    padding: 100px 0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.section-5-box-text-cont {
    text-align: center;
}

.section-5-box-text-cont h2 {
    color: #fff;
    margin: -8px 0 15px 0;
}

.section-5-box-text-cont p {
    color: #fff;
    margin: 0 0 40px 0;
}


/************************************
11)Section 6
*************************************/

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: 30px;
    color: #555555;
}

.section-title h6 {
    font-size: 14px;
    text-transform: uppercase;
    color: #555555;
}

.section-6-box {
    margin-bottom: 20px;
}

.section-6-box h3 {
    font-size: 20px;
    color: #555555;
    margin-top: 30px;
}

.section-6-box p {
    font-size: 14px;
    color: #777;
}


/************************************
12)Section 7
*************************************/

.section-7-background {
    background-color: #252525;
    background-position: center;
    padding: 100px 0 0 0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.section-7-box-text-cont {
    text-align: left;
}

.section-7-box-text-cont h2 {
    color: #fff;
}

.section-7-box-text-cont p {
    color: #fff;
    margin: 0 0 40px 0;
}


/************************************
13)Section 8
*************************************/

.section-8 {
    padding-bottom: 70px;
}

.testimonial_wrapper {
    margin-top: 20px;
}

.single_testimonial {
    text-align: center;
    border: 1px solid #eeeeee;
    position: relative;
    padding: 75px 72px 60px;
    margin: 55px 15px 0 15px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.05)

}

.single_testimonial .testmonial_img {
    display: inline-block;
    height: 110px;
    left: 50%;
    position: absolute;
    top: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 110px;
}

.single_testimonial .testmonial_img img {
    width: 100%;
    border-radius: 50%;
}

.name_desig .name {
    font-size: 14px;
    color: #8C489F;
    font-weight: 700;
    margin: 0;
    line-height: 16px;
}

.name_desig .desig {
    font-weight: 300;
    font-style: italic;
    color: #8e8e8e;
    font-size: 12px;
}

.testimonial_text {
    margin-top: 9px;
    position: relative;
}

.testimonial_text::before {
    content: "\f10d";
    position: absolute;
    right: calc(100% + 10px);
    top: -12px;
    font-family: FontAwesome;
    font-size: 24px;
    color: #8C489F;
}


/************************************
14)Section 9
*************************************/

.section-9-background {
    background: #efefef;
    padding: 25px;
}


/************************************
15)Section 10
*************************************/

.section-10-background {
    background: #8C489F;
    padding: 40px 0px;
}

.section-10-box-text-cont h3 {
    font-size: 24px;
    color: #fff;
}

.section-10-box-text-cont p {
    color: #fff;
    margin: 0 0 10px 0;
    font-size: 16px;
}

.section-10-btn-cont {
    text-align: right;
    margin: 17px 0 0 0;
}


/************************************
16)Footer top
*************************************/

.footer-top {
    padding: 25px 0;
    background-color: #1a1e21;
    color: #7e7e7e;
    font-size: 14px !important;
}

.footer-top p {
    font-size: 14px !important;
    margin-bottom: 0px;
}

.footer-top-box {
    margin: 30px auto;
    overflow: hidden;
}

.footer-top h4 {
    color: #fff;
    text-transform: capitalize;
}

.footer-top .input-holder {
    position: relative;
}

.footer-top .input-holder input[type="email"] {
    width: 100%;
    display: inline-block;
    border: 0;
    border-radius: 0;
    height: 39px;
    padding: 10px 20px;
}

.footer-top .input-holder label {
    position: absolute;
    top: 0;
    right: -4px;
    text-align: center;
    cursor: pointer;
}

.footer-top .input-holder label i {
    position: absolute;
    top: 9px;
    left: 8px;
    font-size: 20px;
    color: #fff;
}

.footer-top .input-holder input[type="submit"] {
    color: #fff;
    border: 0;
    border-radius: 0;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
    line-height: 0;
    text-indent: -999px;
}

.footer-top .submit-bgcolor {
    background-color: #8C489F;
}

.footer-top ul {
    list-style-type: none;
    padding-left: 0px;
}

.footer-top ul li {
    margin: 0 0 10px 0px;
}

.footer-top ul li a {
    color: #7e7e7e;
}

.footer-top ul li a:hover {
    color: #fff;
}

.tag a {
    margin: 5px;
    color: #7e7e7e;
    padding: 5px;
    float: left;
    border: 1px solid #7e7e7e;
}

.tag a:hover {
    color: #fff;
    border: 1px solid #fff;
}


/***************************************
17)Footer Bottom
****************************************/

.footer-bottom {
    font-size: 14px;
    padding: 20px 0;
    background-color: #111315;
    color: #7e7e7e;
}

.footer-bottom ul.social-buttons {
    list-style-type: none;
    margin: 10px auto;
    padding: 0px;
}

.footer-bottom ul.social-buttons li a {
    display: block;
    background-color: #8C489F;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
}

.footer-bottom ul.social-buttons li a:hover {
    background-color: #8C489F;
}

.footer-bottom .copyright {
    color: #999;
    margin: 20px 0 20px 0;
}


/************************************
18)Section 11
*************************************/

.section-11 {
    padding-bottom: 70px;
}

.section-11-box {
    padding: 20px 0px;
    text-align: center;
}

.section-11-box-icon-background {
    background: #8C489F;
    height: 80px;
    width: 80px;
    border-radius: 5%;
    margin: 0 auto 20px auto;
}

.section-11-box-icon-background i {
    margin-top: 28px;
    color: #fff;
}

.section-11-box h4 {
    text-transform: uppercase;
    color: #555555;
    font-size: 18px;
    margin: 0 0 10px 0;
}

.section-11-box p {
    color: #777;
    font-size: 14px;
}


/************************************
19)Section 12
*************************************/

#section-12 {
    padding: 25px 0px;
    margin: 50px auto 50px auto;
}

.portfolioFilter {
    margin: 0px 0px 10px 0px;
    overflow: hidden;
    padding: 15px 10px;
    color: #8C489F;
}

#section-12 p {
    margin-bottom: 100px;
}

.portfolioFilter a {
    color: #8C489F;
    text-decoration: none;
    margin: 15px 5px 15px 5px;
    padding: 10px 15px;
    display: inline-block;
}

.portfolioFilter a.current {
    color: #8C489F;
    font-weight: 700;
}

.portfolioContainer a img {
    margin: 15px auto;
    width: 100%;
    height: 100%;
}

.portfolioContainer1 a img {
    /*margin:15px auto;*/
    margin: 0px auto;
    width: 100%;
    height: 100%;
}

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}


/************************************
20)Section 13
*************************************/

.section-13 {
    background: #8C489F;
    padding: 70px 0;
}

.section-13 h2 {
    color: #fff;
    font-weight: 200;
}

.section-13 p {
    color: #fff;
}

.section-13 .light {
    color: #fff;
    width: 20%;
    margin: 30px auto 40px auto;
}

.section-13 .btn {
    color: #8C489F;
    font-weight: 600;
}

.section-13 .btn-default {
    border-color: transparent;
}


/************************************
21)Section 14
*************************************/

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: 30px;
    color: #555555;
}

.section-title h6 {
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
}

.section-14-box {
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
}

.section-14-box h3 {
    margin-top: 30px;
}

.section-14-box h3 a {
    font-size: 20px;
    color: #555555;
}

.section-14-box h3 a:hover {
    font-size: 20px;
    color: #999;
}

.section-14-box p {
    font-size: 14px;
    color: #777;
    line-height: 26px;
    margin: 0 0 20px 0;
}

.section-14-box .date,
.section-14-box .comments {
    float: left;
}

.section-14-box .date,
.section-14-box .comments {
    margin: 0 10px 15px 0;
    color: #222;
    font-size: 13px;
}

.section-14-box .comments a{
    color: #222;
    margin: 0 0 0 10px;
}
.section-14-box .date span i{
    margin-right: 10px;
}
.section-14-box .comments a:hover {
    text-decoration: underline;
}

.section-14-box ul {
    list-style-type: none;
    margin: 30px 0 0 0;
    padding: 0px;
}

.section-14-box ul li {
    margin: 20px 0;
}

.section-14-box ul li a {
    color: #777;
}

.section-14-box ul li a:hover {
    text-decoration: none;
    color: #8C489F;
}

.section-14-box .underline {
    border-bottom: 2px solid #8C489F;
    padding: 0 0 15px 0;
}

.section-14-box ul li a.tag {
    float: left;
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #777;
}

.section-14-box ul li a.tag:hover {
    float: left;
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #8C489F;
    color: #8C489F;
}

.blog-search-field {
    border: 1px solid #e6e6e6;
    background: #fff;
    width: 100%;
    padding: 13px 15px;
    outline: none !important;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #777;
    margin: 20px 0 0 0;
}

.search-form button {
    background: #ffffff;
    border: none;
    float: right;
    margin-top: -32px;
    margin-right: 15px;
    position: relative;
    z-index: 2;
}

.comment-form-container {
    margin: 70px auto;
;
}

.comment-form-container h4 {
    margin: 0 0 35px 0;
}

.comment-form-container .nopadding-left {
    padding-left: 0px;
}

.comment-form-container input.form-control {
    height: 50px;
}

.comment-form-container .form-control {
    border-radius: 0px;
    padding: 10px 15px;
}

/************************************
Section 15
*************************************/

.section17-background {
    background: #CCC;
    padding: 40px 0 30px 0;
}

.team-member {
    background: #fff;
}


/************************************
23)Inner Title bar
*************************************/

.inner-title {
    background: #8C489F;
    padding: 35px 0 30px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
}

.inner-title h2 {
    color: #fff;
}

/* Breadcrumb */
.breadcrumb-trail {
    float: right;
}



.breadcrumb-trail .trail-browse,
.breadcrumb-trail .trail-items {
    display: inline-block;
}

.breadcrumb-trail h2.trail-browse {
    font-size: 14px;
}

.breadcrumb-trail .trail-items {
    margin-left: 0px;
    padding-left: 10px;
}

.breadcrumbs ul {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500
}

.breadcrumbs ul li {
    display: inline-block;
    color: #fff !important;
    margin: 0 0 0 5px
}

.breadcrumbs ul li a:after {
    content: "\f101";
    font-family: "FontAwesome";
    font-size: 12px;
    color: #fff;
    margin: 0 0 0 10px;
}

.breadcrumbs ul li:last-child:after,
.breadcrumbs ul li:first-child:after {
    content: "";
    margin: 0;
}

.breadcrumbs ul li:last-child a,
.breadcrumbs ul li a {
    color: #fff !important;
    font-weight: 600
}

.breadcrumbs ul li a:hover {
    color: #fff !important;
    text-decoration: underline;
}

.breadcrumbs ul li:first-child {
    padding-right: 0;
    margin-left: 0
}

.breadcrumbs ul li:first-child,
.breadcrumbs ul li:last-child {
    color: #fff;
    background: 0
}

.breadcrumbs ul li:last-child {
    padding: 0;
    background: 0
}


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #8C489F;
    border-color: #8C489F;
}

/************************************
24)Section 16
*************************************/

.section16 {
    padding: 70px 0;
}

.section16 .success,
.section16 .error {
    display: none;
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 48px;
}

.section16 .success {
    color: green;
}

.section16 .error {
    color: red;
}

.section16 .success .fa,
.section16 .error .fa {
    font-size: 18px;
    margin-right: 5px;
}

.section16 input[type="text"],.section16 input[type="email"] {
    border-radius: 0px;
    padding: 10px 15px;
    height: 50px;
}

.section16 textarea {
    border-radius: 0px;
    padding: 25px 15px;
}

.section16 iframe {
    width: 100% !important;
}

.section16 .address {
    margin: 20px 0;
}

.section16 .address h4 {
    color: #8C489F;
}

.map{
    margin: -10px;
    margin-bottom:36px;
}
/************************************
25)Section 17
*************************************/

.section17 {
    background: #f8f8f8;
    padding: 70px 0;
}

.team-member1 {
    background: #fff;
    padding: 5px;
    margin: 10px auto;
    overflow: hidden;
}

.team-member1 .team-member1-img-cont {
    float: left;
    width: 100%;
}

.team-member1 .team-member1-img-cont img {
    min-height: 167px;
}

.team-member1 .team-member1-details {
    float: left;
    padding: 0 10px;
    width: 100%;
}

.team-member1 .team-member1-details h4 {
    margin: 10px 0 0 0;
    padding: 0px;
}

.team-member1 .team-member1-details p {
    color: #878787;
    margin: 5px 0 5px 0;
}

.team-member1 .team-member1-details .sub {
    margin: 10px 0 10px 0;
}
.team-member1 .my-member-details {
    color: #333;
}
.team-member1 .my-member-social {
    transition: all 0.3s ease 0s;
}
.team-member1 .my-member-social ul{
    margin: 0;
    padding:15px 10px;
}
.team-member1 .my-member-social ul li {
    display: inline-block;
    list-style: outside none none;
    margin-top: 6px;
}
.team-member1 .my-member-social ul li a {
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 25px;
    margin-right: 5px;
}
.team-member1 .my-member-social ul li a:hover {
    background-color: #8C489F;
    border: 1px solid #8C489F;
    color: #fff;
}

/************************************
26)Section 18
*************************************/

.section-18-img {
    padding: 0;
}

.section-18 .textcont {
    margin: 10px 0;
}

.section-18 .textcont h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #555555;
    line-height: 35px;
}

.section-18 .textcont p {
    margin-bottom: 20px;
    color: #777;
}

.section-18 .about_section2 {
    margin-top: 20px;
}

.section-18 .about_us_title h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #555555;
    line-height: 35px;
}


/************************************
27)Section 19
*************************************/

.section19 {
    margin: 100px auto 100px auto;
;
}

.section19 .section19-404 {
    border-right: 1px solid #ddd;
}

.section19 .section19-404 h1 {
    font-size: 20em;
    font-weight: 700;
    color: #8C489F;
    text-align: center;
}

.section19 .section19-404 h3 {
    text-align: center;
}

.section19 .section19-subscribe h3 {
    margin-top: 100px;
    margin-bottom: 30px;
}

.section19 .section19-subscribe .form-control {
    border-radius: 0px;
    padding: 20px;
    width: 75%;
    display: inline-block;
    margin-bottom: 15px;
}

.section19 .section19-subscribe .btn-primary {
    border-radius: 0px;
    display: inline-block;
    margin: 0 0 3px 0;
}


/************************************
28)Section 20
*************************************/

.section20 {
    margin: 70px auto;
}

.section-20-box {
    padding: 25px 0px;
    overflow: hidden;
}

.section-20-box-icon-cont {
    float: left;
    width: 23px;
    margin: 0 15px 85px 0;
}

.section-20-box-icon-cont i {
    color: #8C489F;
}

.section-20-box-text-cont {
    margin: 0 0 0 15px;
}

.section-20-box-text-cont h5 {
    text-transform: uppercase;
    color: #555555;
    font-size: 16px;
    margin: 3px 0 15px 0;
}

.section-20-box-text-cont p {
    color: #777;
    font-size: 14px;
}


/************************************
29)Section 21
*************************************/

.section21 {
    margin: 70px auto;
}

.section-21-box {
    padding: 25px 0px;
    overflow: hidden;
}


/************************************
30)Section 22
*************************************/

@media only screen and (min-width: 1201px) {
.carousel-caption {
    bottom: 20px;
} 
.carousel-inner>.item > .carousel-caption > h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 1em;
    margin-bottom: 20px;
}
.carousel-inner>.item > .carousel-caption > h3{
    font-size: 30px;
    line-height: 1em;
    margin-bottom: 40px;
}

.navbar-static .nav> li >a{padding: 15px 30px 15px 0px;}
.carousel-inner>.item > .carousel-caption > a{ margin-bottom:20%;}
.team-member1 .team-member1-details p{font-size:14px;}
.section19 .section19-404  h1{font-size:20em;}
.navbar-brand { margin-left:0px !important;}
.section-10-btn-cont{text-align:right; margin: 17px 0 0 0;}
}
/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
.carousel-caption {
    bottom: 20px;
} 
.carousel-inner>.item > .carousel-caption > h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 1em;
    margin-bottom: 20px;
}
.carousel-inner>.item > .carousel-caption > h3{
    font-style: italic;
    font-size: 28px;
    line-height: 1em;
    margin-bottom: 40px;
}
.navbar-static .nav> li >a{padding: 15px 30px 15px 0px;}  
.carousel-inner>.item > .carousel-caption > a{ margin-bottom:20%;}
.team-member1 .team-member1-details p{font-size:14px;}
.section19 .section19-404  h1{font-size:20em;} 
.navbar-brand { margin-left:0px !important;} 
.section-10-btn-cont{text-align:right; margin: 17px 0 0 0;}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 769px) and (max-width: 991px) { 
.carousel-caption {
    bottom: 20px;
} 
.carousel-inner>.item > .carousel-caption > h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    line-height: 1em;
    margin-bottom: 20px;
}
.carousel-inner>.item > .carousel-caption > h3{
    font-style: italic;
    font-size: 25px;
    line-height: 1em;
    margin-bottom: 40px;
}
.team-member1 .team-member1-details p{font-size:14px;}
.section19 .section19-404  h1{font-size:20em;}   
.section-10-btn-cont{text-align:left; margin: 17px 0 0 0;} 
}
/* Mobile Layout: 320px. */
@media only screen and (min-width: 641px) and (max-width: 768px) { 
    .carousel-caption {
        bottom: 80px;
    }    
    .carousel-inner>.item > .carousel-caption > h1{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 30px;
        line-height: 1em;
        margin-bottom: 20px;
    }
    .carousel-inner>.item > .carousel-caption > h3{
        font-style: italic;
        font-size: 15px;
        line-height: 1em;
        margin-bottom: 30px;
    }
}
/* Mobile Layout: 320px. */
@media only screen and  (max-width: 767px) { 
.team-member1 .team-member1-details p{font-size:12px;}
.section19 .section19-404  h1{font-size:10em;} 
.navbar-brand { margin-left:15px !important;}   
.section-10-btn-cont{text-align:left; margin: 17px 0 0 0;}
.pull-right{float: none!important;}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 481px) and (max-width: 640px) { 
.carousel-caption {
    bottom: 80px;
} 
.carousel-inner>.item > .carousel-caption > h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 1em;
    margin-bottom: 20px;
}
.carousel-inner>.item > .carousel-caption > h3{
    font-style: italic;
    font-size: 15px;
    line-height: 1em;
    margin-bottom: 30px;
}

.team-member1 .team-member1-details p{font-size:12px;}
.section19 .section19-404  h1{font-size:10em;}
.navbar-brand { margin-left:15px !important;}
.section-10-btn-cont{text-align:left; margin: 17px 0 0 0;}
}
@media only screen and (max-width: 480px){
.carousel-caption {
    bottom: 30px;
}    
.carousel-inner>.item > .carousel-caption > h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 1em;
    margin-bottom: 20px;
}
.carousel-inner>.item > .carousel-caption > h3{
    font-style: italic;
    font-size: 14px;
    line-height: 1em;
    margin-bottom: 20px;
}
.carousel-caption .btn{
    margin-bottom: 20px;
}